body{
    display: block;
    font-family: "Roboto" , sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #000;
    margin: auto;
}
.header{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid black;
}
.header__container{
    width: 85%;
    height: 86px;
    margin: auto;
    box-sizing: border-box;
}
.header__logo{
    width: 20%;
    float: left;
    margin-right: 15px;
    padding: 23px 0px;
}
.header__image{
    width: 100%;
    height: 36px;
}
.header__menu{
    width: 60%;
    height: 86px;
    float: left;
}
.nav-list{
    width: 100%;
    height: 86px;
    margin: 0 auto;
    padding: 0;
}
.nav-item{
    position: relative;
    list-style-type: none;
    float: left;
    padding: 34px 14px;
}
.nav-item-link:hover{
    color: red;
}
.nav-item:hover>.nav-list-hover{
    opacity: 1;
    visibility:visible;
}
.nav-list-hover a:hover{
    color: red;
}
.nav-item-link{
    display: inline-block;
    font-size: 15px;
    color: black;
    text-decoration: none;
    margin: auto;
}
.nav-item-wrap{
    display: inline-block;
    border-radius: 3px;
    border-top: 6px solid black;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    margin: 1px;
}
.nav-list-hover{
    background: #fff none repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 550px;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    display: block;
    opacity: 0;
    list-style-type: none;
    visibility: hidden;
}
.nav-item-hover{
    width: 21%;
    float: left;
    padding: 10px;
    list-style-type: none;
}
.nav-item-hover a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.nav-list-hover-box{
    list-style-type: none;
    padding: 0;
}
.nav-list-hover-box{
    padding-top: 5px;
}
.nav-item-hover-box{
    padding-bottom: 3px;
}
.nav-item-hover-box a{
    font-weight: 400;
}
.nav-list-hover2{
    background: #fff none repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;
    width: 200px;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    display: block;
    opacity: 0;
    list-style-type: none;
    visibility: hidden;
}
.nav-list-hover2 a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
}
.nav-item-hover2{
    width: 100%;
}
.nav-item-hover2-link{
    display: block;
    padding: 6px;
}
.nav-item-hover2-link:hover{
    color: red;
}
.fa-angle-right{
    margin-top: -22px;
    margin-right: 7px;
}
.fa-angle-right{
   float: right;
}
.nav-list-hover2-2{
    background: #fff none repeat;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: -151px;
    z-index: 99;
    width: 150px;
    box-shadow: 0px 2px 6px 0px rgba(50,50,50,0.33);
    display: block;
    opacity: 0;
    list-style-type: none;
    visibility: hidden;
}
.nav-item:hover>.nav-list-hover2{
    opacity: 1  ;
    visibility: visible;
}
.nav-item-hover2-hover:hover>.nav-list-hover2-2{
    opacity: 1;
    visibility: visible;
}
.header__right{
    display: flex;
    width: 15%;
    height: 86px;
    float: right;
    font-size: 21px;
    font-family: system-ui;
}
.header__right-search , .header__right-user ,  .header__right-cart{
 padding: 31px 10px;
 margin: auto;
 position: relative;
}
.header__right-search-image , .header__right-cart-image , .header__right-user-image{
    cursor: pointer;
}
.count_item_pr{
    position: absolute;
    right: 4px;
    top: 27px;
    background: #ff3048;
    width: 16px;
    line-height: 16px;
    color: #FFF;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    font-style: initial;
}
.header__right-search:hover>.form-search{
    opacity: 1;
    visibility: visible;
}
.form-search{
    visibility: hidden;
    position: absolute;
    top: 96%;
    width: 300px;
    margin: 0;
    z-index: 9;
    display: flex;
    right: -50px;
    opacity: 0;
}
.form-search-input{
    height: 30px;
    border: none;
    padding: 0 50px 0 10px
}
.btn-icon{
    height: 30px;
    width: 30px;
    border: 0 none;
}
.btn-icon-image{
    border: 0 none;
    max-width: 100%;
    height: auto;
}
.header__right-user:hover>.account{
    opacity: 1;
    visibility: visible;
}
.account{
    position: absolute;
    z-index: 9;
    top: 95%;
    right: -5px;
    opacity: 0;
    width: 120px;
    padding: 5px;
    background: #FFF;
    border: 1px #ebebeb solid;
    visibility: hidden;
}
.account-login{
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    padding-bottom: 0;
}
.account-register{
    
    display: block;
    padding: 5px;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.account-login:hover , .account-register:hover{
    color: red;
}
.account-login-facebook{
    background: #4064ac;
    color: #FFF;
    border-radius: 4px;
    margin-bottom: 5px;
    display: block;
    font-size: 14px;
    text-decoration:none;
}
.account-login-facebook:hover{
    background-color: #324e87;
}
.account-login-google{
    background: #e34133;
    margin: 0;
    color: #FFF;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    text-decoration:none;
}
.account-login-google:hover{
    background-color: #c8291b;
}
.top-cart-content{
    max-height: 300px;
    width: 300px;
    padding: 10px;
    border: solid 1px #ebebeb;
    opacity: 0;
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 55%;
    transform: translateY(55%);
    font-size: 14px;
    right: 0;
    z-index: 9;
}
.header__right-cart:hover>.top-cart-content{
    visibility: visible;
    opacity: 1;
}
.bread-crumb{
    width: 100%;
    float: left;
}
.container-crumb{
    width: 80%;
    margin: 0 auto;
}
.row-crumb{
    margin-left: -10px;
    margin-right: -10px;
}
.breadcrumb{
    padding: 15px 0;
    list-style: none;
    border-radius: 4px;
    margin: 0;
}
.homecrumb{
    display: inline-block;
}
.homecrumb-link{
    color: #000;
    text-decoration: none;
}
.homecrumb-link:hover{
    color: red;
}
.slick-prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
    background-color: #cdcdcd;
    border: 1px #cdcdcd solid;
    height: 60px;
    width: 20px;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
}
.slick-next{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    z-index: 9;
    background-color: #cdcdcd;
    border: 1px #cdcdcd solid;
    height: 60px;
    width: 20px;
    transition: 0.3s all;
    cursor: pointer;
    opacity: 0;
    overflow: hidden;
}
.slick-slider:hover>.slick-arrow{
    opacity: 1;
    overflow: visible;
}
.slick-dots{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding: 0;
    text-align: center;
}
.slick-dots li{
    display: inline-block;
    list-style-type: none;
}
.slick-dots button{
    
    border: 1px #ebebeb solid;
    width: 13px;
    line-height: 11px;
    padding: 0;
    margin: 1px;
    text-align: center;
    text-indent: -999px;
    border-radius: 50%;
    overflow: hidden;
    background: rgba(255,255,255,0.6);
    cursor: pointer;
}
.slick-dots .slick-active button{
    background-color: white;
}
/* 
.quickview-product{
    bottom: 0;
    left: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: fixed;
    right: 0;
    top: 0 !important;
    z-index: 9999;
} */
.quickview-product-box{
    display: flex;
    /* position: absolute;
    width: 1030px;
    top: 5%;
    height: auto;
    left: 0;
    right: 0;
    padding: 30px;
    z-index: 8011;
    border-radius: 0px; */
    background-color: #fff;
    margin: 0 auto;
    width: 80%;
}
.block-quickview-left{
    width: 41.66666667%;
    float: left;
}
.block-quickview-left-image{
    overflow: hidden;
    margin: 0 auto;
    border: solid 1px #ebebeb;
}
.view-full-size{
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.view-full-size-link{
    color: #000;
    text-decoration: none;
}
.view-full-size-img{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.block-quickview-left-wrapper{
    width: 100%;
    overflow: visible;
}
.thumb-list-quickview{
    text-align: center;
    position: relative;
    margin-top: 6px;
    height: 100px;
    padding: 10px 0px;
}
.product-photo-thumbs{
    position: relative;
    padding: 0;
    margin: 0 auto;
    visibility: visible;
}
.product-photo-thumbs-list{
    display: inline-block;
    list-style-type: none;
}
.product-photo-thumbs-list-link{
    display: block;
    border: 1px #e1e1e1 solid;
    height: 78px;
    width: 78px;
    color: #000;
    text-decoration: none;
}
.product-photo-thumbs-list-img{
    height: inherit;
}
.block-quickview-center{
    /* display: initial;
    color: #222;
    font-weight: 300;
    border: none; */
    padding: 0px 10px;
    width: 37.66666667%;
}
.block-quickview-title{
    /* margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    line-height: 1.2;
    font-size: 30px; */
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin-top: 0;
    font-weight: bold;
    line-height: 1.2;
    font-size: 30px;
    border-bottom: 1px #ebebeb solid;
}
/* .block-quickview-title-link{
    color: #000;
    text-decoration: none;
} */
.block-quickview-title-link:hover{
    color:red;
}
.block-quickview-infor{
    padding-bottom: 0px;
    width: 100%;
    float: left;
    border-bottom:  1px #ebebeb solid;
}
.vendor-first{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #707070;
    display: block;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
/* .vendor-first::after{
    content: "";
    height: 15px;
    width: 1px;
    background: #bbb;
    position: absolute;
    right: 0px;
    top: 4px;
} */
.vendor-second , .vendor-status-name{
    color: #ff3048;
    font-weight: bold;
}
.vendor-status{
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #707070;
    display: inline-block;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
.vendor-price{
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 5px;
    margin: 20px 0px;
}
.vendor-prices{
    font-weight: 700;
    color: #ff3048;
    font-size: 30px;
    line-height: 24px;
    margin-right: 10px;
}
.product-desc{
    color: #707070;
    font-size: 14px;
    line-height: 20px;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    font-weight: 400;
}
.rte{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}
.product-desc-view{
    font-size: 14px;
    color: #ff3048;
    font-weight: 400;
    text-decoration: none;
}
.quantity-wanted{
    margin-top: 15px;
    float: left;
}
.quantity-wanted-number{
    display: inline-block;
    position: relative;
    width: 60px;
    height: 25px;
    margin-bottom: 0px;
    margin-right: 20px;
}
.quantity-wanted-input{
    width: 100%;
    height: 100%;
    margin: 0;
    display: inline-block;
    padding-right: 0;
}
.quantity-wanted-btn{
    background: #ff3048;
    border: solid 1px #ff3048;
    position: relative;
    cursor: pointer;
}
.quantity-wanted-btn-para{
    color: white;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
}
.quantity-wanted-btn:hover{
    background-color: #000;
    border: solid 1px black;
}
.span a .slick-cloned {
    width: 0 !important;
    display: none;
    position: absolute;
    visibility: hidden;
}
.quantity-wanted{
    width: 100%;
    padding-top: 20px;
}
.form_button_details{
    margin-bottom: 10px;
}
.form_button_details-text{
    display: inline-block;
}
.form_button_details-btn{
    display: inline-block;
    position: relative;
    margin-left: -65px;
}
.form_button_details-btn-right{
    /* left: auto;
    right: 1px;
    border-left: 1px #ebebeb solid; */
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 33px;
    background-color: white;
    position: relative;
    left: 153px;   
     border-left: 1px #ebebeb solid;
     cursor: pointer;
}
.form_button_details-btn-left{
    border: none;
    border-radius: 3px;
    height: 30px;
    width: 33px;
    background-color: white;
    position: relative;
    left: 40px;
    border-right: 1px #ebebeb solid;
    cursor: pointer;
}
.form_button_details-btn-center{
    border: 1px #ebebeb solid;
    width: 150px;
    padding: 0 40px;
    text-align: center;
    height: 30px;
    width: 33px;

}
.form_button_details-submit{
    background: #ff3048;
    color: #FFF;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 20px;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid red;
    margin-bottom: 20px;
}
.form_button_details-submit-buy{
    display: inline-block;
    width: calc(40%);
    color: red;
    border: 1px #ff3048 solid;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    text-decoration: none;
}
.title{
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0;
    border-top: 1px #ebebeb solid;
    cursor: pointer;
    position: relative;
}
.fa-chevron-down{
    float: right;
}
.rte-list{
    display: none;
}
.content-product-p1:hover>.rte-list{
    display: block;
}



.section{
    width: 80%;
    margin: 0 auto;
}
.section-head{
    padding-bottom: 5px;
    margin-bottom: 15px;
    border-bottom: 1px #9d9d9d solid;
    display: inline-block;
    width: 100%;
    height: 46px;
    font-family: inherit;
}
.section-head__left{
    display: inline-block;
    position: relative;
    width: 25%;
    height: 38px;
    font-weight: 900;
    font-size: 30px;
    padding-left: 20px;
    line-height: 37px;
    padding-bottom: 20px;
}
.section-head__left-separate::before{
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    background-color: red;
    width: 6px;
    height: 30px;
}
.section-head__left-link{
    text-decoration: none;
    color: red;
}
.section-head__left-link:hover{
    color: black;
}
.section-head__center{
    width: 50%;
    display: inline-block;
    position: relative;
    padding-left: 40px;
}
.section-head__center-nav{
    width: 100%;
    text-align: center;
}
.section-head__center-list{
    list-style-type: none;
    float: left;
    margin: 0px 17px;
}
.section-head__center-link{
    text-decoration: none;
    color: black;
}
.section-head__center-link:hover{
    color: red;
}
.section-head__right{
    float: right;
    text-decoration: none;
    background-color: #939598;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}
.section-head__right:hover{
    background-color:red;
}
.section-body{
    width: 100%;
    height: 310px;
    margin-bottom:30px ;
}
.section-body .slick-prev{
    top: 43%;
    left: -10px;
    height: 50px;
}
.section-body .slick-next{
    top: 43%;
    right: -10px;
    height: 50px;
}
.section-body .slick-prev:hover , .section-body .slick-next:hover{
    background-color: white;
    border: 1px #cdcdcd solid;
}
.section-body__box{
    display: inline-block;
    position: relative;
    text-align: center;
    margin-bottom: 15px;
    overflow: hidden;
    width: 15.47%;
    padding-right: 10px;  
    height: 306px;  
}
.section-body__box-end{
    padding-right: 0px;
}
.section-body__box-image{
    width: 100%;
}
.section-body__box-bottom-name-link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
.section-body__box-tag{
    position: absolute;
    left: 10px;
    top: 5px;
    z-index: 9;
    text-align: center;
    color: #fff;
    font-size: 12px;
    width: 40px;
}
.section-head{
    text-align: center;
    font-size: 16px;
    color: red;
    padding-bottom: 20px;
}
.tag-flash{
    display: block;
    margin-bottom: 3px;
    border-radius: 3px;
}
.section-body__box-tag-sale{
    background-color: #ff0000;
}
.section-body__box-tag-hot{
    background-color: #0083cc;
}
.section-body__box-tag-new{
    background-color: #f7941d;
}
.section-body__box-center{
    height: 180px;
    width: 100%;
    margin-top: 15px;
    position: relative;
}
.section-body__box-link{
    width: 100%;
}
.section-body__box-link-hover{
    position: absolute;
    top: 50%;
    z-index: 99;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 1px;
    opacity: 0;
    background-color: white;
    height: 35px;
    width: 35px;
    visibility: hidden;
}
.fa-angle-right{
    float: none;
}
.section-body__box-bottom-name-link:hover{
    color: red;
}
.section-body__box-link-hover:hover{
    background-color: red;
    color: white;
}
.section-body__box-bottom-item-special{
    color: red;
}
.section-body__box-bottom-item-old{
    font-size: 14px;
    color: #8a8a8a;
    text-decoration: line-through;
}
.section-body__box-link-hover-image{
    display: block;
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    font-size: 18px;
    color: black;
    font-weight: 600;
    width: 100%;
}
.section-body__box-link-hover-image:hover{
    color: white;
}
.section-body__box-form{
    position: absolute;
    left: 0;
    width: 100%;
    background: #FFF;
    bottom: 0;
    transition: all .3s;
    margin: 0;
}
.btn-add-cart{
    text-align: center;
    width: 100%;
    background: #ff3048;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    border: 1px #ff3048 solid;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}
.btn-add-cart:hover{
    background-color: white;
    color: red;
}
.section-body__box:hover>.section-body__box-center>.section-body__box-link-hover
{
    opacity: 1;
    visibility: visible;
}
.section-body__box:hover>.section-body__box-center>.section-body__box-quickview>.section-body__box-link-hover
{
    opacity: 1;
    visibility: visible;
}

.section-body__box:hover>.section-body__box-center>.section-body__box-form>.btn-add-cart{
    opacity: 1;
    visibility: visible;
}
.footer{
    background: #f2f2f2;
    padding-top: 40px;
    clear: both;    position: relative;
    display: block;

}
.sub-socials{
    text-align: center;
    margin-bottom: 40px;
}
.sub-container{
    display: flex;
    width: 60%;
    margin: auto;
}
.sub-container span{
    font-size: 14px;
    padding-right: 60px;
    padding-top: 6px;
}
#email{
    padding-left: 15px;
    padding-right: 130px;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
    height: 25px;
    width: 205px;
    font-size: 14px;
}
#sub{
    width: 120px;
    right: 0;
    top: 0;
    background: #000;
    color: #FFF;
    height: 30px;
    cursor: pointer;
}
#sub:hover{
    background-color: red;
    border: none;
}
.socials-container{
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    padding: 0px;
}
.socials-container-list{
    display: inline-block;
    list-style-type: none;
}
.facebook , .twitter , .youtube , .instagram {
    text-decoration: none;
    color:#000;
    font-size: 16px;
    padding: 30px;
}
.facebook:hover , .twitter:hover , .youtube:hover , .instagram:hover{
    color: red;
}
.facebook-image , .twitter-image , .youtube-image , .instagram-image{
    font-size: 16px;
    margin-right: 10px;
}
.footer-main{
    width: 100%;
}
.footer-container{
    width: 80%;
    margin: auto;
}
.footer-container-box{
    width: 18%;
    height: 220px;
    display: inline-block;
}
.footer-container-click{
    padding-bottom: 10px;
    display: inline-block;
    position: relative;
}
h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 50px;
    height: 1px;
    background: #000;
}
.footer-container-list-ul{
    list-style-type: none;
    padding: 0;
}
.footer-container-list-li{
    padding: 5px 0px;
}
.footer-container-list-li-link{
    text-decoration: none;
    color: #000;
    font-size: 14px;
}
.footer-container-list-li-link:hover{
    color: red;
}
.footer-container-box5{
    width: 26%;
    display: inline-block;
}
.footer-container-list-box{
    padding-top:6px
}
.maps-image , .phone-image , .mail-image{
    padding-right: 10px;
}
.phone:hover , .mail:hover{
    cursor: pointer;
    color: red;
}
.footer-copyright{
    margin-top: 40px;
    background: #e3e3e3;
    padding: 10px 0;
}
.footer-copyright-container{
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 14px;
}